p {
    color: rgb (22, 16, 16)
}
.darkred {
color: rgb (139, 0, 0);
background-color: rgb (255, 228, 225);
}

.red {

}

.salmon
{
}

.blue {
}

.darkblue {
}

.lightblue {

}

.darkgreen {

}

.lightgreen {
}

.green {
}